body{
    background-color: rgb(8, 8, 78);
    background-size: cover;
   
    


}
 header section pre,header section p, header a, .Introduccion p, .Introduccion a, .TextoDePrincipal p, .TextoDePrincipal a{
    font-family: 'Nunito', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
    display: flex;
    text-decoration: none;
}
header a:hover{
    transform: scale(1.05);
    background-color: rgb(218, 65, 10);
}
.Bombilla{
    display: flex;
    width: 90px;
    height: 90px;
}

.BotonesIniciar{
    text-decoration:none ; 
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(218, 65, 10);
    font-size: 16px;
}
header  section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 22px;
}
.BarraBusqueda{
    width: 400px;
    height: 30px;
    border-radius: 20px;
}
.Introduccion a {
    background-color:  rgb(218, 65, 10);
    padding: 15px;
    border-radius:30px ;
    display: flex;
    font-size: 30px;
    margin: 50px;
}
.Introduccion a:hover, .BotonesIniciar:hover, .ListeningTres a:hover, .PrincipianteSpeaking a:hover, .PrincipiantesReading a:hover, .EnviarReading{
    box-shadow: 2px 2px 10px 5px black;
    transform: scale(1.05);
    background-color:rgb(190, 51, 1) ;
}
.Introduccion :nth-child(1){
    font-size: 50px;
    margin: 15px;
    
}

.Introduccion{
    display: flex;
    position: relative;
    top: 80px;
    flex-direction: column;
    align-items: center;
   
   
}
.Introduccion :nth-child(2){
    font-size: 25px;
    margin: 0px;
}


.TextoDePrincipal{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 240px;
}
.TextoDePrincipal :nth-child(1){
    font-size: 40px;
    margin: 0px;
}
.TextoDePrincipal :nth-child(2){
    font-size: 25px;
}

main{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 350px;
    flex-wrap: wrap;
}
.CuadroPrincipal{ 
    background-color:rgb(218, 65, 10);
    height: 300px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
.CuadroBlanco{
    display: flex;
    background-color: white;
    height: 400px;
    width: 300px;
    position:relative;
    top: -10px;
    justify-content: center;
    border-radius: 10px;
}
.CuadroBlanco .ImagenP{
    display: flex;
    height: 190px;
    margin: 0px;
    z-index: 1;
   
}

.CuadroPrincipal:hover{
    height: 550px;
    transition: 0.5s;
    transform: scale(1.05);
    box-shadow: 10px 10px 15px 10px;

}
.CuadroPrincipal:hover .Texto{
    visibility: visible;
    opacity:1 ;
    transition-delay: 0.4;
    margin-top: -35px;
    color: black;
}

.CuadroPrincipal .Texto {
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -140px;
    max-width: 300px;
    
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -500px;
    background-color: rgb(218, 65, 10);
    width: 100%;
    height: 100px;
    
}


.SeccionGrandePrincipiante{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: px;
    flex-direction: column;
    padding: 10px;
    
}
.SeccionGrandePrincipiante h1{
    font-size: 50px;
    color:rgb(218, 65, 10);
    font-family: 'Nunito', sans-serif;
   
}
.SeccionGrandePrincipiante p{
    font-size:25px ;
    margin-top: 0px;
    color: white;
   
}

.PrincipiantesMain{
    color: rgb(0, 0, 0);
    display: flex;
    top: 50px;
    font-size: 20px;
    box-shadow: 10px 10px 10px 10px;
    padding: 40px;
    width: 1000px;
    justify-content:space-around;
    align-items: center;
    margin: auto;
    border-radius: 15px;
} 

main ul{ 
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50px;
}

main section img{
    display: flex;
    position: relative;
   
}
main section img{
    position: relative;
    height: 300px;
    border-radius: 10px;
}

.ListaPrincipiantes, .TextoPrincipal{
    color: white;
}
.EnlacesPrincipiantes{
    color:rgb(218, 65, 10) ;
    text-decoration: none;
}
.PrincipianteListening{
    color: rgb(0, 0, 0);
    display: flex;
    position: relative;
    top: 100px;
    box-shadow: 10px 10px 10px 10px;
    padding: 40px;
    width: 1000px;
    justify-content:space-around;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    flex-direction: column;
    height: auto;

}

.PrincipianteListening section{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.PrincipianteListening section img{
    width: 450px;
    margin: 10px;
    
}
.PrincipianteListening h1, .PrincipianteListening h2{
    color:rgb(218, 65, 10) ;
}
.PrincipianteListening p{
    color: white;
    font-size: 25px;
    margin: 10px;
}
.PrincipianteListening h2{
    font-size: 35px;
    margin-bottom: 0px;
}
.ListeningDos h2{
    color:rgb(218, 65, 10) ;
    margin: 0px;
}
.ListeningDos{
    display: flex;
    align-items: space-around;
    flex-direction: column;
}
.ListeningTres{
    display: flex;
    justify-content: center;
}
.ListeningTres a{
    color: white;
    padding: 15px;
    text-decoration:none; 
    background-color: rgb(218, 65, 10);
    margin: 50px;
    border-radius: 15px;
}

.PrincipianteSpeaking {
    display: flex;
    position: relative;
    top: 150px;
    box-shadow: 10px 10px 10px 10px;
    padding: 40px;
    width: 1000px;
    justify-content:space-around;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    height: auto;
    flex-direction: column;
    
}

.PrincipianteSpeaking{
    position: relative;
    top: 150px;
}
.PrincipianteSpeaking div, .PrincipiantesReading section, .PrincipiantesWriting div, .PrincipiantesWriting p{
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
    margin: 25px;
}
.PrincipianteSpeaking img, .PrincipiantesReading img, .PrincipiantesWriting img{
    width: 450px;
    
}
.PrincipianteSpeaking h1, .PrincipiantesReading h1, .PrincipiantesWriting h1{
    color: rgb(218, 65, 10);
    font-size: 40px;
}

.PrincipianteSpeaking a, .PrincipiantesReading a, .PrincipiantesWriting a{
    padding: 5px;
    background-color:rgb(218, 65, 10) ;
    border-radius: 20px;
    margin-top: 25px;
    text-decoration: none;
    color: white;
}

.PrincipiantesReading{
    display: flex;
    position: relative;
    top: 200px;
    box-shadow: 10px 10px 10px 10px;
    padding: 40px;
    width: 1000px;
    justify-content:space-around;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    height: auto;
    flex-direction: column;
}

.PrincipiantesWriting{
    display: flex;
    position: relative;
    top: 250px;
    box-shadow: 10px 10px 10px 10px;
    padding: 40px;
    width: 1000px;
    justify-content:space-around;
    align-items: center;
    margin: auto;
    border-radius: 15px;
    height: auto;
    flex-direction: column;
}
.PrincipalAbecedario{ 
 display: flex;
 flex-direction: column; 
 align-items: center;
 position: relative;
 top: 10px;
}
.PrincipalAbecedario h1{
    font-size: 50px;
    color:rgb(218, 65, 10);
    margin-bottom: 0px; ;
}
.PrincipalAbecedario h2 {
    font-size: 40px;
    color: white;
    margin-top: 0px;
}
.VideoAbecedario{
    margin: 10px;
}
.PrincipalAbecedario p{
    color: white;
    font-size: 25px;
    width:1000px ;
}
.PrincipalAbecedario span{
    color: rgb(218, 65, 10);
}
.PrincipalAbecedario img{
    border-radius: 10px;
    height: 600px;
    margin: 60px;
}

.PrincipalAbecedario section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
    
    
}

.PrincipalAbecedario section p {
    width: 500px;
    margin: 60px;
}


.InicioSesion, .Registrarse{
    display: flex;
    width: 400px;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    justify-content: space-evely;
    margin: auto;
    height: 400px;
    position: relative;
    top: 20px;
}
.Registrarse{
    height: 500px;
}

.Registrarse h1, .InicioSesion h1, .AcentoAusContenido h2{
    color:rgb(218, 65, 10) ;
    display: flex;
    flex-direction: column;
}

.InputSesion{
    display: flex;
    width: 300px;
    height: 25px;
}
.OlvContraseña, .CrearCuenta{
    text-decoration: none;
    color: rgb(8, 8, 78);
}
.OlvContraseña:hover, .CrearCuenta:hover{
    color: rgb(218, 65, 10);
}
.CrearCuenta{
    margin-right: 170px;
}
.InputSesionBoton:hover, .InputRegistroBoton:hover{
    background-color:rgb(218, 65, 10) ;
    transform: scale(1.03);
    box-shadow: 2px 2px 2px 2px;
}

.Registrarse div{
    margin-top: 40px;
    position: relative;
    top: -10px;
}
.InputRegistroBoton{ 
    position: relative;
    left: 250px;
    margin-top: 1px;
}

.InicioSesion div{
    position: relative;
    top: -30px;
}


.titulo, .AprendizajeTitulo h1{
    display: flex;
    justify-content: center;
    color:rgb(218, 65, 10) ;
    
} 
.titulo{
    font-size: 25px;
}
.AprendizajeTitulo h1{
    font-size: 40px;
}
.AprendizajeTitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    margin: auto;
} 
.AprendizajeTitulo p{
    color: white;
    font-size: 25px;
    
}
.PrincipalAprendizaje{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 25px;
}
.PrincipalAprendizaje div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;

}
.ImagenesAprendizaje{
    width: 350px;
}

.SeccionGrandeBri{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.SeccionGrandeBri h1, .SeccionGrandePrincipianteAus h1, .SeccionGrandePrincipianteAmer h1{
    color:rgb(218, 65, 10) ;
    font-size: 40px;
    margin: 0px;

}
.BriPrimerContenido, .SeccionGrandePrincipianteAus div{
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    align-items: center;
}
.BriPrimerContenido p, .SeccionGrandePrincipianteAus p{
    color: white;
    font-size: 25px;
}
.MapaBri{
    height: 400px;
    margin: 20px;

}
.AcentoAusContenido{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 10px 10px 10px 10px;
    width: 1000px;
    height: auto;
    margin: auto;
    border-radius: 25px;
}

.SeccionGrandePrincipianteAus{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SeccionGrandePrincipianteAus img {
    width: 400px;
    margin: 20px;
}
.SeccionGrandePrincipianteAmer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.SeccionGrandePrincipianteAmer div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    width: 1000px;
}
.SeccionGrandePrincipianteAmer h1{
    display: flex;
    justify-content: center;
}

.AcentoAustralianoPalabras img{
    width: 300px;
    border-radius: 20px;
    margin-right: 100px;
    
}
.AcentoAustralianoPalabras {
    display: flex;
    flex-direction: row;
    margin: 30px;
    font-size: 25px;
    color: white;
}
.AcentoAustralianoPalabras p{
    margin: 10px;
    display: flex;
    
} 
.AcentoAusContenido h1{
    color: rgb(218, 65, 10);
    font-size: 40px;
}
.AcentoAustralianoPalabras audio{
    margin-top:  40px; ;
}
.AcentoAustralianoPalabras p:nth-child(1){
    color:  rgb(218, 65, 10);
}
.AcentoAusContenido li{
    color: white;
    font-size: 25px;
    margin: 15px;
}
.AcentoAusContenido h2{
    font-size: 25px;
    margin: 15px;
}

.readingTitulo{
    color:  rgb(218, 65, 10);
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.GrandeReading{
    width: 1000px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px 10px;
    border-radius: 20px;
    margin: auto;
    padding: 30px
}
.GrandeReading div{
    display: flex;
    flex-direction: column;
}
.GrandeReading h2, .GrandeReading p:nth-child(6), .GrandeReading b{
    color:rgb(218, 65, 10) ;
}
.GrandeReading p, .GrandeReading div{
    color: white;
    font-size: 25px;
    margin-left:30px ;
}
.EnviarReading{
    display: flex;
    width: 100px;
    font-size: 25px;
    margin: 50px;
}

.TituloNosotros, .writingTitulo{
   color:rgb(218, 65, 10) ;
   font-size: 40px;
   display: flex;
   justify-content: center;
}
.InformacionNosotros, .cuadroWritingP{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1000px;
    box-shadow: 10px 10px 10px 10px;
    border-radius: 20px;
    padding: 40px;
}
.InformacionNosotros h2, .cuadroWritingP b, .cuadroWritingP h2{
    font-size: 25px;
    color: rgb(218, 65, 10);
}
.InformacionNosotros p, .cuadroWritingP p{
    color: white;
    font-size: 25px;
} 